body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

.box1,
.box2,
.box3{
    background-color: whitesmoke;
    height: 80vh;
    width: 40vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.catogory{
    font-size: 20px;
    font-weight: bold;
    color: grey;
}
.amount{
    font-size: 30px;
}

button{
    height: 8vh;
    width: 20vh;
    background-color: lightblue;
}
